@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  background: #f8fafc;
  color: #000;
  font-family: Inter, sans-serif;
}

html.dark body {
  background: #020617;
  color: #fff;
}

@media print {

  body {
    background: white !important;
  }

  @page {
    size: A4;
    margin: 10mm;
  }

  table {
    page-break-inside: avoid;
  }

  tr {
    page-break-inside: avoid;
  }
}

@media print {

  @page {
    size: A4 portrait;
    margin: 8mm;
  }

  html,
  body {
    width: 210mm;
    height: 297mm;
    background: #fff;
    margin: 0;
    padding: 0;
    font-size: 12px;
    overflow: hidden;
  }

  #invoice {
    width: 100%;
    box-shadow: none !important;
    border-radius: 0 !important;
    padding: 15px !important;
    margin: 0 !important;
  }

  .print\:hidden {
    display: none !important;
  }

  table {
    font-size: 11px;
  }

  th,
  td {
    padding: 6px !important;
  }

  h1 {
    font-size: 28px !important;
  }

  h2 {
    font-size: 22px !important;
  }

  h3 {
    font-size: 16px !important;
  }

  p,
  li,
  span {
    font-size: 11px !important;
    line-height: 1.3;
  }
}